<ul class="nav nav-pills nav-stacked">
  <li role="presentation" ng-show="!vm.currentPage('Home')"><a href="" ui-sref="Home">Home</a></li>
  <li role="presentation" class="active" ng-show="vm.currentPage('Home')"><a href="" ui-sref="Home">Home</a></li>

  <li role="presentation" class="active" ng-show="vm.currentPage('About')"><a href="" ui-sref="About">About Us</a></li>
  <li role="presentation" ng-show="!vm.currentPage('About')"><a href="" ui-sref="About">About Us</a></li>

  <li role="presentation" class="active" ng-show="vm.currentPage('Profiles')"><a href="" ui-sref="Profiles">Lawyer Profiles</a></li>
  <li role="presentation" ng-show="!vm.currentPage('Profiles')"><a href="" ui-sref="Profiles">Lawyer Profiles</a></li>

  <li role="presentation" class="active" ng-show="vm.currentPage('AreasOfPractice')"><a href="" ui-sref="AreasOfPractice">Areas of Practice</a></li>
  <li role="presentation" ng-show="!vm.currentPage('AreasOfPractice')"><a href="" ui-sref="AreasOfPractice">Areas of Practice</a></li>

  <li role="presentation" class="active" ng-show="vm.currentPage('Clientele')"><a href="" ui-sref="Clientele">Clientele</a></li>
  <li role="presentation" ng-show="!vm.currentPage('Clientele')"><a href="" ui-sref="Clientele">Clientele</a></li>


  <li role="presentation" class="active" ng-show="vm.currentPage('Contact')"><a href="" ui-sref="Contact">Contact Us</a></li>
  <li role="presentation" ng-show="!vm.currentPage('Contact')"><a href="" ui-sref="Contact">Contact Us</a></li>
</ul>