<ul class="nav nav-pills nav-stacked">
  <li role="presentation" ng-show="!vm.currentPage('Home')"><a href="" ng-link="['Home']" >Home</a></li>
  <li role="presentation" class="active" ng-show="vm.currentPage('Home')"><a href="" ng-link="['Home']">Home</a></li>
  <li role="presentation" class="active" ng-show="vm.currentPage('About')"><a href="" ng-link="['About']">About</a></li>
  <li role="presentation" ng-show="!vm.currentPage('About')"><a href="" ng-link="['About']">About</a></li>
  <li role="presentation" class="active" ng-show="vm.currentPage('Expertise')"><a href="" ng-link="['Expertise']">Expertise</a></li>
  <li role="presentation" ng-show="!vm.currentPage('Expertise')"><a href="" ng-link="['Expertise']">Expertise</a></li>

  <li role="presentation" class="active" ng-show="vm.currentPage('People')"><a href="" ng-link="['People']">People</a></li>
  <li role="presentation" ng-show="!vm.currentPage('People')"><a href="" ng-link="['People']">People</a></li>

  <li role="presentation" class="active" ng-show="vm.currentPage('Trust')"><a href="" ng-link="['Trust']">Trust</a></li>
  <li role="presentation" ng-show="!vm.currentPage('Trust')"><a href="" ng-link="['Trust']">Trust</a></li>

  <li role="presentation" class="active" ng-show="vm.currentPage('Publication')"><a href="" ng-link="['Publication']">Publications</a></li>
  <li role="presentation" ng-show="!vm.currentPage('Publication')"><a href="" ng-link="['Publication']">Publications</a></li>

  <li role="presentation" class="active" ng-show="vm.currentPage('Career')"><a href="" ng-link="['Career']">Careers</a></li>
  <li role="presentation" ng-show="!vm.currentPage('Career')"><a href="" ng-link="['Career']">Careers</a></li>

  <li role="presentation" class="active" ng-show="vm.currentPage('Contact')"><a href="" ng-link="['Contact']">Contact Us</a></li>
  <li role="presentation" ng-show="!vm.currentPage('Contact')"><a href="" ng-link="['Contact']">Contact Us</a></li>
</ul>