<div class="container-fluid">
    <nav class="navbar navbar-default bootsnav">
        <div class="navbar-top bg-grey fix">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="navbar-callus text-left sm-text-center">
                            <ul class="list-inline">
                                <li><a href=""><i class="fa fa-phone"></i> Call us: +263-4-255605</a></li>
                                <li><a href=""><i class="fa fa-envelope-o"></i> Email us: info@goverelawchambers.co.zw</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="navbar-socail text-right sm-text-center">
                            <ul class="list-inline">
                                <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                                <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                            <i class="fa fa-bars"></i>
                        </button>
                <a class="navbar-brand" href="#brand">
                            <img src="img/logo.png" class="logo" alt="">
                        </a>

            </div>
            <!-- End Header Navigation -->

            <!-- navbar menu -->
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="" ng-link="['Home']">Home</a></li>
                    <li><a href="" ng-link="['About']">About Us</a></li>
                    <li><a href="" ng-link="['Profiles']">Lawyer Profiles</a></li>
                    <li><a href="" ng-link="['AreasOfPractice']">Areas of Practice</a></li>
                    <li><a href="" ng-link="['Clientele']">Clientele</a></li>
                    <li><a href="" ng-link="['Contact']">Contact Us</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>

    </nav>
</div>